<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Notification</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary">Password Change Notification</h3>
                <p>Dear {{ user.first_name }} {{ user.last_name }},</p>
                <p>Your password has been successfully changed.</p>
                <p>Thank you for using our services!</p>
                <h5 class="text-success">Best regards,</h5>
                <h4 class="text-muted">Mamar Bank</h4>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
